<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneButtonApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88FF85D21CDBBC0E001B71B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88FF85E61CDBBC0E001B71B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88FF85F11CDBBC0E001B71B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
